body {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.parent {
	display: grid;
	grid-template-columns: 0.8fr repeat(4, 1fr);
	grid-template-rows: 0.8fr 0.2fr repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100vw;
	height: 100vh;
	background-color: white;
	text-align: center;
}

.div1 {
	grid-area: 1 / 1 / 2 / 6;
	border: 2px solid #f60000;
}

	.div1 h1 {
	}

.div2 {
	border: 2px solid #f60000;
	grid-area: 2 / 1 / 3 / 6;
	background-color: #f60000;
	border-bottom-color: white;
}

	.div2 a {
		float: left;
		display: block;
		color: white;
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		height: 100%;
		line-height: 300%;
		width: 12%;
	}

		.div2 a:hover {
			background-color: white;
			color: #f60000;
		}

.div3 {
	border: 2px solid #f60000;
	grid-area: 3 / 1 / 6 / 2;
}

.div4 {
	border: 2px solid #f60000;
	grid-area: 3 / 2 / 6 / 5;
	align-items: center;
	text-align: center;
	overflow-y: scroll;
	scrollbar-width: none;
}

	.div4 label {
		padding: 10px;
		width: 100%;
		font-size: 24px;
		display: block;
	}

	.div4 span {
		padding: 10px;
		width: 100%;
		font-size: 16px;
		display: block;
	}

.div5 {
	border: 2px solid #f60000;
	grid-area: 3 / 5 / 6 / 6;
}

	.div5 form {
		border: 0px;
		border-radius: 2px;
	}

	.div5 select {
		padding: 20px;
		width: 100%;
		background-color: white;
		color: #f60000;
		font-size: 16px;
	}

		.div5 select:hover {
			color: black;
		}

	.div5 label {
		padding: 10px;
		width: 100%;
		background-color: #f60000;
		color: white;
		font-size: 16px;
		display: block;
	}

	.div5 input[type=text] {
		padding: 20px;
		width: 100%;
		background-color: white;
		color: #f60000;
		font-size: 16px;
	}

	.div5 input[type=file] {
		padding: 20px;
		width: 100%;
		background-color: #f60000;
		color: white;
		font-size: 16px;
	}

	.div5 input[type=button] {
		padding: 20px;
		width: 100%;
		border: none;
		background-color: #f60000;
		color: white;
		font-size: 16px;
		cursor: pointer;
	}

		.div5 input[type=button]:hover {
			background-color: white;
			color: #f60000
		}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

th {
	text-align: left;
}

.button {
	padding: 20px;
	width: 100%;
	border: none;
	background-color: #f60000;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

	.button:hover {
		background-color: white;
		color: #f60000
	}

.selectable-label {
	display: inline-block;
	cursor: pointer;
}

	.selectable-label input[type="checkbox"] {
		display: none;
		padding: 10px;
	}

	.selectable-label a {
		display: inline-block;
		width: 32%;
	}

	.selectable-label input[type="checkbox"]:checked + span {
		background-color: #f60000;
		color: white;
		padding: 10px;
		border-radius: 25px;
	}

.object-tree, .properties {
	/* CSS styles for the elements with class 'object-tree' */
	display: none;
	padding: 10px;
}

	.object-tree label {
		padding: 10px;
		font-size: 20px;
	}

.device-tree input[type="checkbox"]:checked + label {
	background-color: #f60000;
	color: white;
	border-radius: 25px;
}

.device-tree input[type="checkbox"] {
	display: none;
	padding: 10px;
}

.device-tree label {
	cursor: pointer;
	width: 98%;
	margin-left: 1%;
	margin-top: 10px;
}

.properties label {
	padding: 10px;
	font-size: 16px;
	margin: 0;
}
